.default{
    margin: 0 20px;
    text-align: center;
    display: inline;
}
.AN-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.image{
    width: 100%;
    border-radius: 10%;
}
.TL-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.AD-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.AR-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.AS-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.BI-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.CH-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.CT-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.DL-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.GO-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.GJ-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.HR-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.HI-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.JH-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.KN-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.KR-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.MP-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.MH-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.MG-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.MN-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.MZ-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.NG-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.OR-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.PD-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.PJ-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.RJ-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.SK-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.TN-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.TP-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.UP-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.UK-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.WB-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.LK-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.JK-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.LA-info{
    height: 90%;
    width: 80%;
    display: none;
    text-align: center;
}
.design{
    width: 60%;
}