*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.nav{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav img{
    position: relative;
    height: 70px;
    z-index: 5;
}
.container{
    position: relative;
    height: 85vh;
    background-color: #00000011;
    background-image: url(./assets/bg_group.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.box{
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #000000a1;
}
.heroText{
    margin: 15vh 0 0 30vh;
}
.heroText h1{
    font-size: 96px;
    color: #E4BB63;
}
.heroText h2{
    font-size: 48px;
    color: #FB8B24;
}
/* .buttons{
    margin: 0 0 0 30vh;
} */
#startbutton{
    width: 8vw;
    height: 6vh;
    margin-top: 5vh;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #FB8B24;
    background-color: #5F0F40;
    color:#FB8B24;
}
#startbutton:hover{
    background-color: #FB8B24;
    border: 2px solid #5F0F40;
    color: #5F0F40;
    transition-duration: 0.3s;
}
.section2{
    position: relative;
    bottom: 50px;
    width: 98.8vw;
    height: 75vh;
    background-image: url(./assets/paperTexture.png);
    background-size: contain;
    /* background-position: center center; */
    background-repeat: repeat-x;
    /* padding: 0 10vw 0 10vw; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 80px; */
}
.sec_2_img{
    /* position: relative; */
    height: 40vh;
    border-radius: 25px;
    /* margin-left: 10vw; */
    top: 23%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.34);
}
.sec_2_text{
    width: 40vw;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}
.sec_2_text h1{
    font-size: 40px;
    color:#FB8B24;
}
.sec_2_text p{
    font-size: 24px;
    color:#5F0F40;
    font-weight: 500;
}
.sec_2_text p span{
    font-size: 30px;
    color: #E4BB63;
    font-weight: 600;
}
.section3{
    position: relative;
    bottom: 100px;
    height: 60vh;
    width: 98.8vw;
    padding-top: 100px;
    z-index: -100;
    background-image: url(./assets/claypots-g4a085aedc_1920.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
.section3 a{
    z-index: 1000;
}
.section3 h1{
    font-size: 48px;
    color: #FB8B24;
    padding-bottom: 70px;
}
.sec_3_text{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* width: 80%; */
}
.col_text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 375px;
}
.col_text h2{
    color:#E4BB63;
    font-size: 30px;
}
.col_text p{
    color: beige;
    font-size: 24px;
    text-align: justify;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.foot{
    width: 98.8vw;
    height: 16vh;
    background-color: #5f0f40;
    position: relative;
    bottom: 100px;
}

.bottom-buttons{
    display: flex;
    justify-content: sp;
}
ul{
    width: 80vw;
    display: flex;
    justify-content: space-between;
    margin-top: 6vh;
    margin-left: 10vw ;
}

li{
    list-style-type:none ;
    height: 4vh;
    width: 4vw;
    padding: 2vh;
    border: 2px solid #fb8b24;
    border-radius: 20px;
    display: inline;
    
    
}
li:hover{
    border: 2px solid white;
}
a{
    text-decoration: none;
    color: #fb8b24;
    
}
a:hover{
    color: white;
    
}

.photos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -8vh;


}
#pattern{
    width: 8vw;
    height: 8vh;
}
#logo{
    width: 14vw;
    height: 10vh;
    margin-bottom: 2vh;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */